// Variable
$primary: #00b0e2;
$secondary: #222222;

$border: #b5b5b5;
$black: #000;
$light: #f3f3f3;
$white: #fff;
$milk: #f8f9fa;
$gray: #eeeeee;
$darkgray: #4d4d4d;

$font-family1: "Arial";
$font-family2: "Stymie XBd Cn EU Normal";
$font-family3: "Georgia";
$font-family4: "Lucida Sans";